body {
    font-family: Arial,
     Helvetica, sans-serif;
    background: url('img/building.jpg');
    background-size: cover;
    background-blend-mode: darken;
    width:100%;
    height:auto;
    min-height: 100%;
    min-width: 1000px; 
    position: fixed;
    top: -19px;
    left: -18px;
    background-position:top;

    }

.navbar {
  width: 100%;
  background-image: url('../img/computer.jpg');
  overflow: auto;
 

}

.navbar a {
  float: left;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background-color: rgb(250, 241, 241);
}

/* .active {
  background-color: rgb(201, 204, 245);
} */

@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display:block;
  }
}

/* * {
    box-sizing: border-box;
} */

input[type=text],input[type=password]{
    width:100%;
    padding:15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border:none;
    background: #f0f0f8;

}

/* Add a background color when the 
inputs get focus  */

input[type=text]:focus,
input[type=password]:focus{
    
    outline:none;
}

/* set a style for all buttons */
 button{
    
    color:rgb(12, 2, 37);
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

 button:hover{
    opacity:1;
}

 /* Extra styles for the cancel button */
 .cancelbtn, .signupbtn {
     float: left;
     width:50%;
 }

   /* Add padding to container elements  */
 .container{
    padding: 16px;
}

 /* the Modal (background) */

   .modal{
     display: none; /* Hidden by default */
     position: fixed; /* Stay in place */
     z-index: 1; /*Sit on top */
     left: 0;
     top: 0;
     width: 100%; /* full width */
     height: 100%; /* full height */
     overflow: auto; /* enable scroll if needed */
     background-color: #1d36c5;
     padding-top : 50px;

    
 }

  /* Modal Content/Box  */
  .modal-content {
    background-color:#2340e4;
    margin: 5% auto 15% auto;

    /* 5% from the top , 15% from the bottom and  */
     /* centered  */

     border: 1px solid rgb(5, 13, 121);
     width:80%;     

     /* could be more  or less , depending on screen  */
      /* size  */
       
  }

  

  /* Style the horizontal ruler  */
     hr {
       border: 1px solid #4b2dd3;
       margin-bottom: 25px;
     }

     /* The Close Button (x) */
     .close {
       position: absolute;
       right: 35px;
       top: 15px;
       font-size: 40px;
       font-weight: bold;
       color: #d64309;

     }

     .close:hover,
     .close: focus {
       color: #f44336;
       cursor: pointer;
     }

     .clearfix::after {
       content: "";
       clear: both;
       display: table;
     }

 /* Change styles for cancel button and signup 
 button on extra small screens  */
 @media screen and (max-width: 300px) {
   .cancelbtn, .signupbtn{
     width: 100%;
   }
 }
 
 .sidenav{
   height:100%;
   width:0;
   position: fixed;
   z-index: 1;
   top: 0;
   left: 0;
   background-color: rgb(240, 231, 231);
   overflow-x: hidden;
   transition: 0.5s;
   padding-top: 60px;
 }

 .sidenav a{
   padding: 8px 8px 8px 32px;
   text-decoration: none;
   font-size: 25px;
   color: #161414;
   display: block;
   transition: 0.3s;
 }

 .sidenav  a:hover {
   color: #e45a5a;
 }

 .sidenav .closebtn {
   position: absolute;
   top: 0;
   right: 25px;
   font-size: 36px;
   margin-left: 50px;

 }

 @media screen and (max-height: 450px)
 {
   .sidenav {padding-top: 15px;}
   .sidenav a{font-size: 18px;}
   
 }

  .modal-content {
 background-image: url('../img/computer.jpg');
 position: relative;
 animation-name: example;
 animation-duration: 16s;
}
 
 @keyframes example {
   from {
     background-image:url('../img/computer.jpg');
   }

   to{
     background-image: url('../img/building.jpg');
   }
 }

 .navbar {
  background-image: url('../img/computer.jpg');
  position: relative;
  animation-name: example;
  animation-duration: 8s;
 }

 @keyframes example {
  from {
    background-image:url('../img/computer.jpg');
  }

  to{
    background-image: url('../img/building.jpg');
  }
}

 

















